@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  color: #13fad3;
  width: 100%;
  background-color: aqua;
}

.navbar {
  background-color: #000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar .logo {
  max-width: 50px;
  margin-left: 10px;
  max-height: 95px;
}

.navbar .logo img {
  width: 100%;
  border-radius: 10%;
}

.navbar .menu a {
  color: #f11010;
  padding: 5px 9px 5px 9px;
  border-radius: 6px;
  margin-left: 25px;
  text-decoration: none;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.navbar .menu a:hover {
  background-color: #c8dddd;
  color: #000;
}

.navbar .toggle {
  margin-right: 25px;
}

.searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
}

.searchbox .srch {
  margin-top: 20vh;
  margin-bottom: 10px;
}

.searchbox .srch input {
  width: 30em;
  height: 2em;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
  outline: none;
  text-align: center;
}

.searchbox .srch button {
  width: 6em;
  border-radius: 5px;
  border: 1px solid #f64;
  height: 2em;
  cursor: pointer;
}

.searchbox .srch input:hover {
  border: 2px solid #f64 !important;
}

.searchbox .srch .searchbtn:hover {
  background-color: #f64;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.searchbox .srchdata {
  display: none;
  border-radius: 10%;
  color: black;
  margin: 10px auto 0px auto;
  padding: 2em 3em 1em 3em;
}

.searchbox .srchdata div {
  margin-bottom: 15px;
}

.searchbox .srchdata .temper {
  margin: 1em 0px 2em 0px;
}

.team-name {
  background-color: #111;
  color: #fff;
}

.team-name h1, .team-name h2 {
  text-align: center;
}

.team-name .ht {
  word-spacing: 30px;
  letter-spacing: 8px;
}

.team-name h1 {
  padding: 20px;
}

.team-name .row {
  margin-top: 3em;
}

.team-name .member1, .team-name .member2, .team-name .member3, .team-name .member4 {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-name .member1 .me1-img .m1-i, .team-name .member1 .me1-img .m2-i, .team-name .member1 .me1-img .m3-i, .team-name .member1 .me1-img .m4-i, .team-name .member1 .me2-img .m1-i, .team-name .member1 .me2-img .m2-i, .team-name .member1 .me2-img .m3-i, .team-name .member1 .me2-img .m4-i, .team-name .member1 .me3-img .m1-i, .team-name .member1 .me3-img .m2-i, .team-name .member1 .me3-img .m3-i, .team-name .member1 .me3-img .m4-i, .team-name .member1 .me4-img .m1-i, .team-name .member1 .me4-img .m2-i, .team-name .member1 .me4-img .m3-i, .team-name .member1 .me4-img .m4-i, .team-name .member2 .me1-img .m1-i, .team-name .member2 .me1-img .m2-i, .team-name .member2 .me1-img .m3-i, .team-name .member2 .me1-img .m4-i, .team-name .member2 .me2-img .m1-i, .team-name .member2 .me2-img .m2-i, .team-name .member2 .me2-img .m3-i, .team-name .member2 .me2-img .m4-i, .team-name .member2 .me3-img .m1-i, .team-name .member2 .me3-img .m2-i, .team-name .member2 .me3-img .m3-i, .team-name .member2 .me3-img .m4-i, .team-name .member2 .me4-img .m1-i, .team-name .member2 .me4-img .m2-i, .team-name .member2 .me4-img .m3-i, .team-name .member2 .me4-img .m4-i, .team-name .member3 .me1-img .m1-i, .team-name .member3 .me1-img .m2-i, .team-name .member3 .me1-img .m3-i, .team-name .member3 .me1-img .m4-i, .team-name .member3 .me2-img .m1-i, .team-name .member3 .me2-img .m2-i, .team-name .member3 .me2-img .m3-i, .team-name .member3 .me2-img .m4-i, .team-name .member3 .me3-img .m1-i, .team-name .member3 .me3-img .m2-i, .team-name .member3 .me3-img .m3-i, .team-name .member3 .me3-img .m4-i, .team-name .member3 .me4-img .m1-i, .team-name .member3 .me4-img .m2-i, .team-name .member3 .me4-img .m3-i, .team-name .member3 .me4-img .m4-i, .team-name .member4 .me1-img .m1-i, .team-name .member4 .me1-img .m2-i, .team-name .member4 .me1-img .m3-i, .team-name .member4 .me1-img .m4-i, .team-name .member4 .me2-img .m1-i, .team-name .member4 .me2-img .m2-i, .team-name .member4 .me2-img .m3-i, .team-name .member4 .me2-img .m4-i, .team-name .member4 .me3-img .m1-i, .team-name .member4 .me3-img .m2-i, .team-name .member4 .me3-img .m3-i, .team-name .member4 .me3-img .m4-i, .team-name .member4 .me4-img .m1-i, .team-name .member4 .me4-img .m2-i, .team-name .member4 .me4-img .m3-i, .team-name .member4 .me4-img .m4-i {
  width: 100px;
}

.team-name .member1 .me1-dis, .team-name .member1 .me2-dis, .team-name .member1 .me3-dis, .team-name .member1 .me4-dis, .team-name .member2 .me1-dis, .team-name .member2 .me2-dis, .team-name .member2 .me3-dis, .team-name .member2 .me4-dis, .team-name .member3 .me1-dis, .team-name .member3 .me2-dis, .team-name .member3 .me3-dis, .team-name .member3 .me4-dis, .team-name .member4 .me1-dis, .team-name .member4 .me2-dis, .team-name .member4 .me3-dis, .team-name .member4 .me4-dis {
  padding-left: 15px;
  color: #f0a0a0;
}

.team-name .member2, .team-name .member4 {
  display: contents;
}

.team-name .member1, .team-name .member3 {
  margin-left: 5em;
}
/*# sourceMappingURL=index.css.map */